html {
    /* font-family: sans-serif; */
    font-family: Georgia;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.box {
  background-color:antiquewhite;
  border: 2px solid black;
  border-radius: 15px;
}
.top-stripe{
  height: 30px;
  background-color:brown;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.bottom-stripe{
  height: 30px;
  background-color: brown;
  position: relative;
  width: calc(100% + 400px); 
  bottom: 0vh;
  left: 0;
  margin-left: -200px;
  margin-bottom: 0;
  margin-top: auto;
}
body {
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;
    background-color:lemonchiffon;
    color: brown;
}
h1 {
    text-align: center;
    line-height: 50px;
    margin: 20px;
}
p {
  font-size: large;
}
input[type="text"]{
    font-size: large;
    color: brown;
    width: 300px;
}
input[type="submit"], button{
    font-size: 1rem;
    padding: 0.8em 1.63em;
    border-radius: 5px;
    background-color:antiquewhite;
}
input[type="submit"]:hover, button:hover {
    background-color: brown;
    color: white;
}
ul {
  padding-left: 60px;
  list-style-type: none;
  position: relative;
}

ul ul {
  margin-left: 7.5em;
  position: relative;
}

li {
  margin: 0 0 0 2em;
  padding-left: 1em;
  position: relative;
  line-height: 1.3em;
}

li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 2px solid black;
  height: 100%;
}

li::after {
  content: "";
  position: absolute;
  top: 0.75em;
  left: 0;
  width: 1em;
  border-top: 2px solid black;
}


