{% extends 'base.html' %}
{% block head %}
{% endblock %}
    {% macro render_node(node) %}
        {% set r = 255 - node.off_realistic * 65 %}
        <ul>
            <li style="color: rgb({{ r }}, 0, 0);">
                
                <b>{{ node.scenario }}</b>
                
                {% if node.best %}
                {{ render_node(node.best) }}
                {% endif %}
                {% if node.realistic %}
                {{ render_node(node.realistic) }}
                {% endif %}
                {% if node.worst %}
                {{ render_node(node.worst) }}
                {% endif %}
            </li>
        </ul>

    {% endmacro %}
{% block body %}
    <h1>All Nodes</h1>
    {{ render_node(root) }}
{% endblock %}